# Docker Configuration
POSTGRES_DB=cactoied_database
POSTGRES_USER=cactoide
POSTGRES_PASSWORD=cactoide_password

# Development Settings
DATABASE_URL="postgres://cactoide:cactoide_password@localhost:5432/cactoied_database"
